/* Basisstijl voor de body */
body {
  background-color: #121212; /* Donkere achtergrondkleur */
  color: #ffffff; /* Witte tekstkleur */
  margin: 0; /* Verwijder standaardmarges */
  font-family: Arial, sans-serif; /* Basis font */
}

/* Header styling */
.header {
  background-color: #1e1e1e; /* Donkere achtergrondkleur voor de header */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ruimte tussen logo en navigatie */
}

.header .logo {
  max-height: 50px; /* Pas aan op basis van de grootte van je logo */
  height: 60px; /* Stel de hoogte van het logo in */
  width: auto; /* Houd de breedte in verhouding */
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header-nav a {
  color: #ffffff; /* Witte kleur voor de links */
  text-decoration: none; /* Verwijder onderstreping */
  font-weight: bold;
}

.header .search-bar {
  flex-grow: 1;
}

.header .search-bar input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

/* Footer styling */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1f1f; /* Donkere achtergrondkleur voor de footer */
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #ffffff;
  margin: 0 10px;
}

.footer a svg {
  vertical-align: middle;
  margin-right: 8px;
}

/* Kaartjes */
.card {
  background-color: #1f1f1f;
  color: #ffffff;
  border: 1px solid #343a40;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden; /* Voorkom dat inhoud buiten de kaart valt */
  display: flex;
  flex-direction: column; /* Zorg ervoor dat de inhoud verticaal gestapeld wordt */
}

.card-img-top {
  width: 100%;
  height: 200px; /* Stel een vaste hoogte in voor afbeeldingen */
  object-fit: cover; /* Zorg ervoor dat de afbeelding proportioneel blijft en bijgesneden wordt indien nodig */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
  flex: 1; /* Laat de body de beschikbare ruimte opvullen */
  display: flex;
  flex-direction: column; /* Zorg ervoor dat de inhoud verticaal gestapeld wordt */
}

.card-title {
  color: #ffffff;
  margin: 5px 0; /* Ruimte boven en onder de titel */
  font-size: 14px; /* Vergrote tekstgrootte voor de titel */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Zorg ervoor dat lange titels niet over meerdere regels gaan */
}

.card-footer {
  padding: 10px;
  background-color: #1f1f1f;
  text-align: center;
}

/* Tile Styling */
.tile {
  display: block;
  position: relative;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tile img:hover {
  transform: scale(1.1); /* Vergroot de afbeelding met 10% bij hover */
}

/* Logo Container */
.logo-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-logo {
  width: 25vw;
  height: auto;
  margin: auto;
}

.animated-logo {
  animation: scale 3s infinite alternate-reverse;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.3);
  }
}

/* Algemene stijl voor container en items */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; /* Voeg padding toe aan de zijkanten van de container */
}

/* Centraal uitlijnen van de productenlijst */
.topProductslist {
  display: flex;
  justify-content: center;
  gap: 20px; /* Ruimte tussen de producten */
  flex-wrap: wrap; /* Zorg ervoor dat producten op meerdere regels kunnen vallen bij kleinere schermen */
  margin-top: 20px; /* Ruimte boven de productlijst */
}

/* Stijl voor individuele productcontainers */
.topProduct {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 200px; /* Flexibele grootte van de producten, minimaal 200px breed */
  max-width: 30%; /* Maximale breedte van elk product (30% van de container breedte) */
  box-sizing: border-box; /* Zorg ervoor dat padding en border worden meegerekend in de breedte en hoogte */
  background-color: #1f1f1f; /* Donkere achtergrondkleur voor het product */
  border: 1px solid #343a40; /* Randkleur voor een subtiele scheiding */
  border-radius: 8px; /* Afronding van de hoeken */
  padding: 10px; /* Vergrote ruimte binnen de container */
  position: relative; /* Voor plaatsing van absolute elementen */
  height: 450px; /* Specifieke hoogte voor elk product */
  overflow: hidden; /* Zorg ervoor dat inhoud niet buiten de container valt */
}

.topProduct img {
  width: 100%; /* Zorg ervoor dat de afbeelding de volledige breedte van de container benut */
  max-height: 500px; /* Beperk de hoogte van de afbeelding */
  height: auto; /* Houd de hoogte automatisch in verhouding tot de breedte */
  object-fit: cover; /* Zorg ervoor dat de afbeelding proportioneel blijft en wordt bijgesneden indien nodig */
  border-radius: 8px; /* Afronding van de hoeken van de afbeelding */
}

/* Stijl voor productafbeelding */
.product-image {
  width: 100%; /* Zorg ervoor dat de afbeelding de volledige breedte van de container benut */
  max-height: 200px; /* Beperk de hoogte van de afbeelding om te voorkomen dat deze te groot wordt */
  height: auto; /* Houd de hoogte automatisch in verhouding tot de breedte */
  object-fit: cover; /* Zorg ervoor dat de afbeelding proportioneel blijft en bijgesneden wordt indien nodig */
  border-radius: 8px; /* Afronding van de hoeken van de afbeelding */
}

/* Stijl voor productinformatie */
.product-info {
  padding: 10px 0; /* Ruimte rond de productinformatie */
  font-size: 16px; /* Vergrote tekst voor een beter leesbare uitstraling */
  flex: 1;
  overflow: hidden;
}

/* Stijl voor producttitel en prijs */
.product-title {
  color: #ffffff;
  margin: 5px 0; /* Ruimte boven en onder de titel */
  font-size: 14px; /* Vergrote tekstgrootte voor de titel */
}

.product-price {
  color: #f8f9fa; /* Lichtere kleur voor de prijs */
  font-weight: bold;
  margin: 5px 0; /* Ruimte boven en onder de prijs */
  font-size: 14px; /* Vergrote tekstgrootte voor de prijs */
}

/* Stijl voor koop nu knop */
.buy-now {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  background-color: #007bff; /* Bootstrap Primary Blue */
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.buy-now:hover {
  background-color: #021f3d; /* Donkere blauwe kleur bij hover */
}

/* Animatie bij hover op product */
.topProduct:hover {
  transform: scale(1.05); /* Vergroot het product een beetje */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schaduw voor een zwevend effect */
}

/* Specifieke stijlen voor de productpagina */
.product-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.product-image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.product-image {
  width: 100%; /* Zorg ervoor dat de afbeelding de volledige breedte van de container benut */
  height: 60%; /* Beperk de hoogte van de afbeelding als percentage van de containerhoogte */
  object-fit: cover; /* Zorg ervoor dat de afbeelding proportioneel blijft en wordt bijgesneden indien nodig */
  border-radius: 8px; /* Afronding van de hoeken van de afbeelding */
}

.product-image.active {
  display: block;
}

.product-details {
  flex: 1;
  padding: 20px;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.product-action {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-action .buy-now {
  padding: 10px 20px;
  font-size: 1.2rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.product-stock {
  font-size: 1.2rem;
  color: red;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.stock-bullet {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.old-price {
  color: #888; /* Grijze kleur voor de oude prijs */
  text-decoration: line-through; /* Streep door de oude prijs */
  margin-right: 10px; /* Ruimte tussen oude en nieuwe prijs */
}

.new-price {
  color: #d9534f; /* Kleur voor de nieuwe prijs (bijv. rood voor korting) */
  font-weight: bold; /* Maak de nieuwe prijs vetgedrukt */
}

/* Contactpagina Styling */
.contact-info {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 600px;
  margin: 40px auto; /* Centeren met ruimte boven en onder */
}

.contact-info h1 {
  margin-top: 0;
  font-size: 2rem;
}

.contact-info p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Contactformulier styling */
form {
  margin-top: 20px;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #ffffff;
  margin-bottom: 5px;
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #343a40;
  border-radius: 4px;
  background-color: #333;
  color: #ffffff;
}

button {
  background-color: #007bff; /* Bootstrap Primary Blue */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.aspect-ratio-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Verhouding 16:9, pas dit aan naar wens */
  height: 0;
}

.aspect-ratio-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Media Queries */

/* Voor schermen kleiner dan 768px */
@media (max-width: 768px) {
  .header-nav {
    flex-direction: column; /* Zet navigatielinks onder elkaar */
  }

  .header .search-bar input {
    padding: 6px;
  }

  .topProductslist {
    flex-direction: column;
    align-items: center;
  }

  .topProduct {
    max-width: 90%; /* Verbreed de productcontainers op kleine schermen */
  }

  .product-page-container {
    flex-direction: column;
    align-items: center;
  }

  .product-image-container {
    max-width: 100%;
    margin: 0;
  }

  .product-image {
    height: auto; /* Maak de hoogte van de productafbeelding automatisch */
  }
}

/* Voor schermen kleiner dan 576px */
@media (max-width: 576px) {
  .header .logo {
    height: 40px; /* Verklein de hoogte van het logo */
  }

  .header-nav {
    gap: 10px; /* Verminder de ruimte tussen navigatielinks */
  }

  .topProduct {
    max-width: 100%; /* Zorg ervoor dat productcontainers volledig benut worden */
    height: auto; /* Zorg ervoor dat de hoogte van producten automatisch is */
  }

  .product-title {
    font-size: 1.5rem; /* Verklein de fontgrootte van de producttitel */
  }

  .product-price {
    font-size: 1.2rem; /* Verklein de fontgrootte van de prijs */
  }

  .product-description {
    font-size: 0.9rem; /* Verklein de fontgrootte van de productomschrijving */
  }

  .contact-info h1 {
    font-size: 1.5rem; /* Verklein de fontgrootte van de kop op de contactpagina */
  }

  .contact-info p {
    font-size: 1rem; /* Verklein de fontgrootte van de tekst op de contactpagina */
  }

  button {
    font-size: 0.9rem; /* Verklein de fontgrootte van de knoppen */
  }
}
